# Data Preparation


1. Unduh data CSV ke https://github.com/realpython/python-data-cleaning/blob/a8d1017fa90b6e0662c0455f3e9631661f284cdd/Datasets/BL-Flickr-Images-Book.csv
2. import library yang dibutuhkan

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv("BL-Flickr-Images-Book.csv")

In [5]:
df.head()

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 15 columns]

In [6]:
hapus =['Edition Statement','Corporate Author','Corporate Contributors', 'Former owner', 'Engraver',
        'Issuance type', 'Shelfmarks']
df.drop(hapus, inplace=True, axis=1)

In [7]:
df.head()

   Identifier  ...                                         Flickr URL
0         206  ...  http://www.flickr.com/photos/britishlibrary/ta...
1         216  ...  http://www.flickr.com/photos/britishlibrary/ta...
2         218  ...  http://www.flickr.com/photos/britishlibrary/ta...
3         472  ...  http://www.flickr.com/photos/britishlibrary/ta...
4         480  ...  http://www.flickr.com/photos/britishlibrary/ta...

[5 rows x 8 columns]

In [8]:
df['Identifier'].is_unique

True

In [10]:
df = df.set_index('Identifier')
df.head()

                Place of Publication  ...                                         Flickr URL
Identifier                            ...
206                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
216         London; Virtue & Yorston  ...  http://www.flickr.com/photos/britishlibrary/ta...
218                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
472                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
480                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...

[5 rows x 7 columns]

In [11]:
df.loc[206]

Place of Publication                                               London
Date of Publication                                           1879 [1878]
Publisher                                                S. Tinsley & Co.
Title                                   Walter Forbes. [A novel.] By A. A
Author                                                              A. A.
Contributors                                              FORBES, Walter.
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 206, dtype: object

- Merapikan Fields

In [12]:
df.dtypes.value_counts()

object    7
dtype: int64

- Hilangkan Tanggal lain dalam kurung siku
- konverensi rentang tanggal
- hilangkan tanggal yang gak jelas [18972] --> NaN
- konversi NaN

In [23]:
df.loc[1905:,'Date of Publication'].head(15)

Identifier
1905                  1888
1929           1839, 38-54
2836                  1897
2854                  1865
2956               1860-63
2957                  1873
3017                  1866
3131                  1899
4598                  1814
4884                  1820
4976                  1800
5382    1847, 48 [1846-48]
5385               [1897?]
5389               [1897?]
5432                  1893
Name: Date of Publication, dtype: object

In [25]:
regex = r'^(\d{4})'

In [34]:
ekstrak = df['Date of Publication'].str.extract(r'^(\d{4})', expand = False)
ekstrak.head(15)

Identifier
206     1879
216     1868
218     1869
472     1851
480     1857
481     1875
519     1872
667      NaN
874     1676
1143    1679
1280    1802
1808    1859
1905    1888
1929    1839
2836    1897
Name: Date of Publication, dtype: object

In [35]:
df['Date of Publication'] = pd.to_numeric(ekstrak)
df['Date of Publication'].dtype

dtype('float64')

- Membersihkan Kolom

In [36]:
df['Place of Publication'].head(15)

Identifier
206                                  London
216                London; Virtue & Yorston
218                                  London
472                                  London
480                                  London
481                                  London
519                                  London
667     pp. 40. G. Bryan & Co: Oxford, 1898
874                                 London]
1143                                 London
1280                               Coventry
1808                            Christiania
1905                                Firenze
1929                              Amsterdam
2836                                 Savona
Name: Place of Publication, dtype: object

In [39]:
df.loc[667]

Place of Publication                  pp. 40. G. Bryan & Co: Oxford, 1898
Date of Publication                                                   NaN
Publisher                                                             NaN
Title                   The Coming of Spring, and other poems. By J. A...
Author                                                      A., J.|A., J.
Contributors                                ANDREWS, J. - Writer of Verse
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 667, dtype: object

In [43]:
df.loc[4157862]

Place of Publication                                  Newcastle upon Tyne
Date of Publication                                                1867.0
Publisher                                                      T. Fordyce
Title                   Local Records; or, Historical Register of rema...
Author                      FORDYCE, T. - Printer, of Newcastle-upon-Tyne
Contributors             SYKES, John - Bookseller, of Newcastle-upon-Tyne
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 4157862, dtype: object

In [44]:
df['Place of Publication'].tail()

Identifier
4158088                 London
4158128                  Derby
4159563                 London
4159587    Newcastle upon Tyne
4160339                 London
Name: Place of Publication, dtype: object

In [37]:
df.loc[4115138]

Place of Publication                                 G. Eld: London, 1608
Date of Publication                                                   NaN
Publisher                                                             NaN
Title                   The Revenger's Tagaedie. As it hath beene sund...
Author                                                                NaN
Contributors                                             TOURNEUR, Cyril.
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 4115138, dtype: object

In [38]:
publikasi = df['Place of Publication']
london = publikasi.str.contains('London')
london[:5]

Identifier
206    True
216    True
218    True
472    True
480    True
Name: Place of Publication, dtype: bool

In [40]:
oxford = publikasi.str.contains('Oxford')

In [41]:
df['Place of Publication'] = np.where(london, 'London',
                                      np.where(oxford,'Oxford',
                                               publikasi.str.replace('-', ' ')))

In [42]:
df['Place of Publication'].head(15)

Identifier
206          London
216          London
218          London
472          London
480          London
481          London
519          London
667          Oxford
874          London
1143         London
1280       Coventry
1808    Christiania
1905        Firenze
1929      Amsterdam
2836         Savona
Name: Place of Publication, dtype: object

#Data ke-2


1.   Kita gunakan data yang lain yaitu https://github.com/realpython/python-data-cleaning/blob/a8d1017fa90b6e0662c0455f3e9631661f284cdd/Datasets/university_towns.txt
2.   S.membersihkan Dataset dengan Applymap

In [46]:
university_town = []
with open('/university_towns.txt') as file:
  for line in file:
    if '[edit]' in line:
      state = line 
    else: 
      university_town.append((state, line))
    university_town[:5]

In [47]:
df_kota = pd.DataFrame(university_town, columns=['State', 'RegionName'])
df_kota.head(15)

               State                                         RegionName
0    Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1    Alabama[edit]\n           Florence (University of North Alabama)\n
2    Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3    Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4    Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n
5    Alabama[edit]\n                        Troy (Troy University)[2]\n
6    Alabama[edit]\n  Tuscaloosa (University of Alabama, Stillman Co...
7    Alabama[edit]\n                Tuskegee (Tuskegee University)[5]\n
8     Alaska[edit]\n    Fairbanks (University of Alaska Fairbanks)[2]\n
9    Arizona[edit]\n       Flagstaff (Northern Arizona University)[6]\n
10   Arizona[edit]\n                 Tempe (Arizona State University)\n
11   Arizona[edit]\n                   Tucson (University of Arizona)\n
12  Arkansas[edit]\n  Arkadelphia (Henderson State University, Ouach...
13  Arkansas[edit]\n  Conway (Central Baptist College, Hendrix Colle...
14  Arkansas[edit]\n         Fayetteville (University of Arkansas)[7]\n

In [49]:
contoh_data = {0 : ['mock', 'python', 'real', 'numpy'],
               1 : ['mock', 'python', 'real', 'numpy'] }

In [52]:
def get_citystate(item):
  if '(' in item:
    return item[:item.find('(')]
  elif '[' in item:
    return item[:item.find('[')]
  else:
    return item

In [54]:
df_kota = df_kota.applymap(get_citystate)
df_kota.head()

     State     RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo