# Imputasi

Imputasi adalah pengganti nilai/data yang hilang (*missing value, NaN, blank*) dengan nilai penganti.

Teknik Imputasi berdasarkan tipe data, terdiri dari:
1. **Tipe data Variabel Numerik**, dengan cara:
  - Imputasi mean/median
  - Imputasi niai suka suka (*arbitrary*)
  - Imputasi nilai/data ujung (*end of tail*)

2. **Tipe data Variabel Kategorik**, dengan cara:
  - Imputasi kategori yang sering muncul
  - Tambah kategori yang hilang

# 1. Mean

In [4]:
import pandas as pd
import numpy as np

kolom = {'col1' : [4, 8, 18],
         'col2' : [2, np.nan, 17],
         'col3' : [3, 9, np.nan],
         'col4' : [6, 0, 9],
         'col5' : [np.nan, 7, np.nan]}

data = pd.DataFrame(kolom)

In [5]:
data

   col1  col2  col3  col4  col5
0     4   2.0   3.0     6   NaN
1     8   NaN   9.0     0   7.0
2    18  17.0   NaN     9   NaN

In [7]:
data.fillna(data.mean())

   col1  col2  col3  col4  col5
0     4   2.0   3.0     6   7.0
1     8   9.5   9.0     0   7.0
2    18  17.0   6.0     9   7.0

# 2. Nilai Suka-Suka (*Arbitrary*)

In [8]:
umur = {'umur' : [19, 25, np.nan, 35, 45, np.nan, 50]}

usia = pd.DataFrame(umur)
usia

   umur
0  19.0
1  25.0
2   NaN
3  35.0
4  45.0
5   NaN
6  50.0

In [9]:
usia.fillna(99)

   umur
0  19.0
1  25.0
2  99.0
3  35.0
4  45.0
5  99.0
6  50.0

# 3. Imputasi *End of Tail*

In [10]:
#install lib feature-engine
!pip install feature-engine

Collecting feature-engine
  Downloading feature_engine-1.2.0-py2.py3-none-any.whl (205 kB)
     |████████████████████████████████| 205 kB 26.2 MB/s
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.3.5)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.4.1)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.21.5)
Collecting statsmodels>=0.11.1
  Downloading statsmodels-0.13.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)
     |████████████████████████████████| 9.8 MB 42.7 MB/s
Requirement already satisfied: scikit-learn>=0.22.2 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.0.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature-engine) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature-engine) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->feature-engine) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.2->feature-engine) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.2->feature-engine) (1.1.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11.1->feature-engine) (0.5.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11.1->feature-engine) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=21.3->statsmodels>=0.11.1->feature-engine) (3.0.7)
Installing collected packages: statsmodels, feature-engine
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.10.2
    Uninstalling statsmodels-0.10.2:
      Successfully uninstalled statsmodels-0.10.2
Successfully installed feature-engine-1.2.0 statsmodels-0.13.2

In [12]:
umur = {'umur' : [19, 25, np.nan, 35, 45, np.nan, 50]}

data = pd.DataFrame(umur)
data

   umur
0  19.0
1  25.0
2   NaN
3  35.0
4  45.0
5   NaN
6  50.0

In [13]:
#import EndTailImputer
from feature_engine.imputation import EndTailImputer

#buat Imputer
imputer = EndTailImputer(imputation_method='gaussian', tail='right')

#fit-kan imputer ke set
imputer.fit(data)

#ubah data
test_data = imputer.transform(data)

#tampilkan data
test_data

        umur
0  19.000000
1  25.000000
2  73.938217
3  35.000000
4  45.000000
5  73.938217
6  50.000000

# 4. Imputasi *Frequent Category*/Modus

--> dapat digunakan untuk data kategorikal

In [14]:
from sklearn.impute import SimpleImputer
mobil = {'mobil' : ['Ford', 'Ford', 'Toyota', 'Honda', np.nan, 'Toyota', 'Honda', 'Toyota', np.nan, np.nan]}

merek = pd.DataFrame(mobil)

In [15]:
merek

    mobil
0    Ford
1    Ford
2  Toyota
3   Honda
4     NaN
5  Toyota
6   Honda
7  Toyota
8     NaN
9     NaN

In [16]:
imp = SimpleImputer(strategy='most_frequent')

In [17]:
imp.fit_transform(merek)

array([['Ford'],
       ['Ford'],
       ['Toyota'],
       ['Honda'],
       ['Toyota'],
       ['Toyota'],
       ['Honda'],
       ['Toyota'],
       ['Toyota'],
       ['Toyota']], dtype=object)

# 5. Imputasi *Random Sample*

--> untuk mengatasi *missing value* data kategorikal dan numerikal secara bersamaan

In [18]:
#import Random Sample
from feature_engine.imputation import RandomSampleImputer

#buta data missing value-nya
data = {'Jenis Kelamin' : ['Laki-laki', 'Perempuan', 'Laki-laki', np.nan,
                           'Perempuan', np.nan, np.nan, 'Perempuan', 'Laki-laki',
                           'Laki-laki', 'Perempuan', np.nan],
        'Umur' : [np.nan, 20, np.nan, 17, 35, 24, 15,
                  np.nan, np.nan, 40, np.nan, 22]
        }

dt = pd.DataFrame(data)
dt

   Jenis Kelamin  Umur
0      Laki-laki   NaN
1      Perempuan  20.0
2      Laki-laki   NaN
3            NaN  17.0
4      Perempuan  35.0
5            NaN  24.0
6            NaN  15.0
7      Perempuan   NaN
8      Laki-laki   NaN
9      Laki-laki  40.0
10     Perempuan   NaN
11           NaN  22.0

In [19]:
#buat imputer
imputer = RandomSampleImputer(random_state = 29)

#fit-kan
imputer.fit(dt)

#ubah data
data_baru = imputer.transform(dt)

data_baru

   Jenis Kelamin  Umur
0      Laki-laki  40.0
1      Perempuan  20.0
2      Laki-laki  24.0
3      Laki-laki  17.0
4      Perempuan  35.0
5      Perempuan  24.0
6      Perempuan  15.0
7      Perempuan  15.0
8      Laki-laki  40.0
9      Laki-laki  40.0
10     Perempuan  35.0
11     Laki-laki  22.0